<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Professores</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body class="listar-body">



    <!-- Formulário de busca -->
    <form method="post" class="search-form">
        <label for="busca">Busca:</label>
        <input type="text" id="busca" name="busca" placeholder="Digite o nome do professor" />
        <button type="submit" class="btn">Enviar</button>
		<a th:href="@{/home}" class="back-arrow">
			&#8592; Voltar
		</a>
    </form>

	

    <!-- Tabela de professores -->
    <div class="table-container">
        <table class="categoria-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Imagem</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="professor: ${professores}">
                    <td th:text="${professor.id}"></td>
                    <td th:text="${professor.nome}"></td>
                    <td th:text="${professor.email}"></td>
                    <td>
                        <img th:src="@{/professor/imagem/{imagem}(imagem=${professor.imagem})}" 
                             width="100" class="professor-img"/>
                    </td>
                    <td class="actions">
                        <a th:href="@{/professor/editar/{id}(id=${professor.id})}" class="btn edit-btn">Editar</a>
                        <a th:href="@{/professor/excluir/{id}(id=${professor.id})}" class="btn delete-btn">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
